# Compiled binaries
/doctor-service/doctor-service
/appointment-service/appointment-service
/notification-service/notification-service
*.exe

# Go workspace sums
go.work.sum

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
